.navigasi {
    padding: 10px 0;
    width: 100%;
    height: 35px;
    background-color: var(--color-atas);
    position: fixed;
    top: 0;
    z-index: 1000;
    color: var(--color-sekunder);
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

.navigasi .navwarp {
    display: flex;
    justify-content: space-around;
}

.navigasi .logoluar {
    width: 550px;
}

.navigasi .logo {
    height: 35px;
    width: 35px;
}

.navigasi .pilihan {
    width: 600px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

.navigasi .pilihan ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--color-sekunder);
}


.navigasi .pilihan ul .satu a:-webkit-any-link {
    margin: 0 10px;
    color: var(--color-sekunder);
    font-weight: 500;
}

.navigasi .pilihan ul .satu:hover {
    text-decoration: underline;
    transition: all 0.1s ease;
}

.navigasi .pilihan ul .satu:nth-child(1) a:-webkit-any-link {
    background-color: var(--color-sekunder);
    color: var(--color-putih);
    font-weight: 500;
    padding: 5px 25px;
}

.navigasi .pilihan ul .satu:nth-child(1):hover a:-webkit-any-link {
    background-color: #764AF1;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none !important;

}


.wappernav {
    display: none;
}


@media (min-width: 320px) and (max-width: 480px) {


    .navigasi .navwarp {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    /* PENCARIAN */

    .wappernav {
        display: block;
    }

    .wappernav .f .pencarian {
        width: 95%;
        display: flex;
        justify-content: center;
    }

    .wappernav .f input {
        margin: 0px 0;
        outline: none;
        background-color: #fff;
        color: #3a4258;
        border: 0;
        padding: 7px 7px;
        font-size: 20px;
        border-radius: 10px 0 0 10px;
        width: 70%;
    }


    .wappernav .f input::placeholder {
        color: #3a4258;
        font-size: 14px;
        opacity: 0.5;
    }

    .wappernav .f button {
        margin: 0px 0;
        padding: 7px 7px;
        border-radius: 0;
        font-size: 15px;
        border-radius: 0px 10px 10px 0px;
        width: 20%;
        outline: none;
        background-color: #6c50d3;
        color: #fff;
        border: 0;
        border-radius: 0px 10px 10px 0px;
    }

    .wappernav .f button:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.3s ease;
    }



    /* LIST PENCARIAN */

    .wappernav ul {
        width: 75%;
        font-size: 14px;
        position: absolute;
        top: 55px;
        color: #3a4258;
        background-color: #fff;
        list-style: none;
        border-radius: 0 0 10px 10px;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
    }

    .wappernav ul li {
        padding: 5px 10px;
    }



    .wappernav ul li .link  {
        width: 100%;
        display: flex;
        color: #3a4258;
    }

    .wappernav ul li .link:hover {
        color: #3a4258;
        text-decoration: underline;
    }

    .wappernav ul li .link .kiri {
        width: 80%;
    }

    .wappernav ul li .link .kanan {
        display: flex;
        justify-content: flex-end;
        width: 25%;
    }

    .wappernav ul li .link .kanan .gambar {
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }




    /* PILIHAN KIRI */
    .navigasi .logoluar {
        width: auto;
    }

    /* PILIHAN KANAN */
    .navigasi .pilihan {
        width: auto;
    }



    /* PILIHAN BAWAH */
    .navigasi .pilihan ul {
        position: absolute;
        width: 100%;
        overflow: scroll;
        white-space: nowrap;
        bottom: -38px;
        background-color: #764AF1;
        padding: 10px;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
    }




    .navigasi .pilihan ul .satu a:-webkit-any-link {
        color: var(--color-putih);
    }


    .navigasi .pilihan ul .satu:nth-child(1) a:-webkit-any-link {
        display: none;
    }

    .navigasi .pilihan ul .satu:nth-child(2){
        margin-left: 10px;
    }


    /* BURGER */

    .navigasi .burger {
        display: flex;
        flex-direction: column;
    }

    .navigasi .burger .burgerdalam {
        margin-top: 2px;
        width: 35px;
        height: 8px;
        background-color: #764AF1;
        border-radius: 5px;
        margin-right: 10px;
    }

    .navigasi .burger button {
        position: absolute;
        top: 12px;
        width: 35px;
        height: 30px;
        opacity: 0;
    }

}