.wapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    margin-top: 100px;
    padding: 10px;
    background-color: var(--color-atas);

}


.wapper2 {
    display: flex;
    justify-content: center;
    width: 100vw;
}



/* CARD */
.luarcardpopuler {
    width: 500px;
    height: 360px;
    display: flex;
    align-items: flex-end;
}

.luarcardpopuler .wapper {
    display: flex;
    flex-wrap: wrap;
}


.cardpopuleratas {
    margin: 10px;
    width: 200px;
    height: 150px;
    position: relative;
}

.cardpopuleratas .gambar {
    height: 150px;
    width: 200px;
}

.cardpopuleratas .judul {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    color: #3a4258;
    padding: 10px;
    background-color: #fff;
    opacity: 0.8;
}

.cardpopuleratas .linier {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(118, 74, 241);
    background: linear-gradient(0deg, rgba(118, 74, 241, 1) 0%, rgba(253, 187, 45, 0) 50%);
}




/* katakata */
.katakata {
    width: 600px;
}

.katakata .judul {
    font-size: 50px;
    font-weight: 900;
    color: #E08D79;
}

.katakata .deskripsi {
    font-size: 27px;
    font-weight: 400;
    color: #3a4258;
}

.katakata button {
    margin: 20px 0 0 0;
    outline: none;
    background-color: #3a4258;
    color: #fff;
    border: 0;
    padding: 7px 25px;
    border-radius: 15px;
    font-size: 16px;
}

.katakata button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #6c50d3;
    border: 1px solid;
    transition: all 0.1s ease;
}


.katakata .f input {
    margin: 10px 0;
    outline: none;
    background-color: #3a4258;
    color: #fff;
    border: 0;
    padding: 20px 25px;
    font-size: 20px;
}


.katakata .f input::placeholder {
    color: #fff;
    font-size: 14px;
    opacity: 0.5;
}

.katakata .f button {
    margin: 10px 0;
    outline: none;
    background-color: #6c50d3;
    color: #fff;
    border: 0;
    padding: 20px 25px;
    border-radius: 0;
    font-size: 20px;
}

.katakata .f button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #6c50d3;
    border: 1px solid;
    transition: all 0.3s ease;
}



@media (min-width: 320px) and (max-width: 480px) {

    .wapper {
        margin: 10px 0;
        margin-top: 50px;
        padding: 0;
    }

    .wapper2 {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }


    /* CARD */


    .luarcardpopuler {
        width: 95%;
        height: auto;
        align-items: flex-start;
        justify-content: center;
    }

    .luarcardpopuler .wapper {
        display: flex;

    }

    .cardpopuleratas {
        margin: 10px;
        width: 40%;
        height: 150px;
        position: relative;
    }

    .cardpopuleratas .gambar {
        height: 150px;
        width: 100%;
    }

    .cardpopuleratas .judul {
        font-size: 12px;
    }







    /* katakata */
    .katakata {
        width: 95%;
        margin-top: 20px;
    }

    .katakata .judul {
        font-size: 24px;

    }

    .katakata .deskripsi {
        font-size: 20px;
        font-weight: 400;
        color: #3a4258;
    }

    .katakata button {
        margin: 10px 0;
        padding: 7px 20px;
        border-radius: 10px;
        font-size: 12px;
    }



    .katakata .f input {
        margin: 5px 0;
        padding: 12px 15px;
        font-size: 15px;
    }


    .katakata .f input::placeholder {
        color: #fff;
        font-size: 14px;
        opacity: 0.5;
    }

    .katakata .f button {
        margin: 5px 0;
        padding: 12px 15px;
        font-size: 15px;
    }



}