.gambar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gambar .des {
    text-align: center;
    margin: 20px;
    font-weight: 900;
    font-size: 50px;
    color: var(--color-sekunder);
}

.gambar .wapper {
    width: 1281px;
}

.gambar .wapper .ul {
    display: flex;
    flex-direction: row;
}

.gambar .wapper .ul .satu {
    display: flex;
    width: 50%;
}


.gambar .wapper .ul .dua {
    display: flex;
    width: 50%;
}


.gambar .wapper .gambar .wapperdalam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gambar .wapper .ul .li1 {
    min-width: 95%;
    margin: 10px 0 10px 10px;
    display: flex;
}

.gambar .wapper .ul .li2 {
    min-width: 95%;
    margin: 10px;
    display: flex;
}

.gambar .wapper .ul .li3 {
    min-width: 95%;
    margin: 10px 0;
    display: flex;
}

.gambar .wapper .ul .li4 {
    min-width: 95%;
    margin: 10px;
    display: flex;
}

.gambar .wapper .ul .li .dalamgambar {
    position: relative;
}


.gambar .wapper .ul .li .dalamgambar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 8px;
    vertical-align: middle;
}


.gambar .wapper .ul .li .dalamgambar .photographer {
    position: absolute!important;
    top:0;
    background-color: brown;
    z-index: 1000;
    color: red;
}


@media (min-width: 320px) and (max-width: 480px) {

    .gambar .des {
        font-size: 40px;
    }
    .gambar .wapper .ul .li .dalamgambar {
        position: relative;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
    

    .gambar .wapper {
        min-width: 100%;
        width: 100%;
    }
    

    .gambar .wapper .ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gambar .wapper .ul .satu {
        min-width: 100%;
        width: 100%;
    }

    .gambar .wapper .ul .dua {
        min-width: 100%;
        width: 100%;
    }

    .gambar .wapper .ul .li1 {
        min-width: 90%;
    }
    
    .gambar .wapper .ul .li2 {
        min-width: 90%;
    }
    
    .gambar .wapper .ul .li3 {
        min-width: 90%;
    }
    
    .gambar .wapper .ul .li4 {
        min-width: 90%;
    }


}