.gambar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gambar .des {
    text-align: center;
    margin: 20px;
    font-weight: 900;
    font-size: 50px;
    color: var(--color-sekunder);
}

.gambar .wapper {
    width: 1281px;
}

.gambar .wapper .ul {
    display: flex;
    flex-wrap: wrap;
}


.gambar .wapper .ul .li1:nth-child(even) {
    width: 230px;
    margin: 10px;
    display: flex;
}

.gambar .wapper .ul .li1:nth-child(odd) {
    width: 230px;
    min-height: 100%!important;
    max-height: 100%!important;
    margin: 10px;
    display: flex;
    height: 90%!important;
}

.gambar .wapper .ul .dalamgambar {
    position: relative;
}


.gambar .ul .dalamgambar .ph {
    position: absolute !important;
    color: var(--color-putih);
    font-size: 17px;
    font-weight: 500;
    z-index: 10;
    bottom: 15%;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
}


.gambar .wapper .ul .li .dalamgambar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 480px) {

    .gambar .des {
        font-size: 40px;
    }


    .gambar .wapper {
        min-width: 100%;
        width: 100%;
    }


    .gambar .wapper .ul {
        display: flex;
        justify-content: center;
    }

    .gambar .wapper .ul .li1:nth-child(even) {
        width: 47%;
        margin: 5px;
        display: flex;
    }

    .gambar .wapper .ul .li1:nth-child(odd) {
        width: 47%!important;
        min-height: 100%!important;
        max-height: 100%!important;
        margin: 5px;
        display: flex;
        height: 100%!important;
    }


    .gambar .ul .dalamgambar .ph {
        font-size: 12px;
    }

}