.gambar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gambar .des {
    text-align: center;
    margin: 20px;
    font-weight: 900;
    font-size: 50px;
    color: var(--color-sekunder);
}

.gambar .wapper {
    width: 1281px;
}

.gambar .wapper .ul {
    display: flex;
    flex-direction: row;
}

.gambar .wapper .ul .satu {
    display: flex;
    width: 50%;
}


.gambar .wapper .ul .dua {
    display: flex;
    width: 50%;
}


.gambar .wapper .gambar .wapperdalam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gambar .wapper .ul .li1 {
    min-width: 95%;
    margin: 10px 0 10px 10px;
    display: flex;
}

.gambar .wapper .ul .li2 {
    min-width: 95%;
    margin: 10px;
    display: flex;
}

.gambar .wapper .ul .li3 {
    min-width: 95%;
    margin: 10px 0;
    display: flex;
}

.gambar .wapper .ul .li4 {
    min-width: 95%;
    margin: 10px;
    display: flex;
}

.gambar .wapper .ul  .dalamgambar {
    position: relative;
    width: 100%;
}


.gambar  .ul  .dalamgambar .ph  {
    position: absolute !important;
    color: var(--color-putih);
    font-size: 17px;
    font-weight: 500;
    z-index: 10;
    bottom: 15%;
    padding:5px 10px;
    border-radius: 0 5px 5px 0;
}


.gambar .wapper .ul .li .dalamgambar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 8px;
    vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 480px) {

    .gambar .des {
        font-size: 40px;
    }

    .gambar .wapper .ul .li .dalamgambar {
        position: relative;
        min-width: 95%;
        max-width: 95%;
        width: 95%;
    }


    .gambar .wapper .gambar .wapperdalam {
        min-width: 50%;
        max-width: 50%;
        height: fit-content;
    }


    .gambar .wapper {
        min-width: 100%;
        width: 100%;
    }


    .gambar .wapper .ul {
        flex-direction: row;
        justify-content: center;
    }

    .gambar .wapper .ul .satu {
        display: flex;
        flex-direction: column;
        min-width: 49%;
        width: 49%;
        margin-right: 1%
    }

    .gambar .wapper .ul .dua {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 49%;
        width: 49%;
        margin-left: 1%
    }

    .gambar .wapper .ul .li1 {
        margin: 10px 10px 0 10px;
    }

    .gambar .wapper .ul .li2 {
        margin: 10px;
    }

    .gambar .wapper .ul .li3 {
        margin: 10px 10px 0 0;
    }

    .gambar .wapper .ul .li4 {
        margin: 10px 10px 10px 0;
    }

    .gambar  .ul  .dalamgambar .ph  {
        font-size: 8px;
        padding:3px 7px;
    }

}