
.bungkuscard {
  width: 250px;
  min-height: 300px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 8px 0px, rgb(0 0 0 / 10%) 0px 6px 20px 0px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.bungkuscard .gambarartikel {
  width: 250px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.bungkuscard:hover .linierartikel {
  z-index: 2;
  position: absolute!important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(118, 74, 241);
  background: linear-gradient(0deg, rgba(118, 74, 241, 1) 0%, rgba(253, 187, 45, 0) 30%);
}

.gambarartikel .view {
  position: absolute;
  top: 0;
  background-color: #6c50d3;
  color: white;
  padding: 10px 15px;
}



.bungkusdesartikel {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  padding: 2vh 0 0 0;
}

.bungkusdesartikel .tanggal {
  width: 95%;
  font-size: 12px;
  color: #3a4258;
  font-weight: 500;
}

.bungkusdesartikel .judul {
  font-size: 16px;
  width: 95%;
  color: #3a4258;
  font-weight: 700;
}

.bungkuscard:hover img {
  z-index: 1;
  transform: scale(1.1);
  transition: all 0.2s ease;
  cursor: pointer;
}

.bungkuscard:hover .judul {
  text-decoration: underline;
  transition: all 0.2s ease;
  cursor: pointer;
}


/* Luaran */
.luarcard {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
}

.luarcardwarp {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.judullistartikel{
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
  width: fit-content;
  padding-bottom:10px ;
  border-bottom: #6c50d3 solid 5px;
  color: #3a4258;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 480px) {

    /* JUDUL */
    .judullistartikelluar {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .judullistartikel{
    font-size: 35px;
  }


  .luarcardwarp {
      width: 95%;
      width: 95%;
  }

  .luarcardwarp a {
    width: 100%;
  }

  .bungkuscard {
      margin: 20px 0;
      width: 100%;
  }

  .bungkuscard .gambarartikel {
      min-width: 100%;
  }


  .bungkusdesartikel .tanggal {
      font-size: 16px;
  }

  .bungkusdesartikel .judul {
      font-size: 22px;
  }

  .bungkusdesartikel {
      padding: 2vh 0 1vh 0;
  }
}